.App {
  text-align: center;
}

.shopping-list {
  text-align: left !important
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}
.board {
 clear: both;
 
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  height: 100px;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: bold;
  text-decoration-color: red;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display:inline-block;
  margin: 0 auto;
  display:inline-block;
 /* display: flex;
  flex-direction: row;*/
}

.game-info {
  height: 100px;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: bold;
  text-decoration-color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
